<div class="navbar navbar-deep-purple">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button md-button href="javascript:void(0)">
        <span class="navbar-brand"><img src="../../assets/img/OdinVR.png" alt=""></span>
        <span class="navbar-brand">OdinVR</span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">

      <p class="nav navbar-text navbar-username">
        Hello, {{presentation.author}}
      </p>

      <ul class="nav navbar-nav navbar-center">
        <li class="nav navbar-text navbar-input">
          <input type="text" class="text-center" mdInput [(ngModel)]="presentation.name">
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <span class="session-code"><strong>Session code: {{presentation.sessionCode}}</strong></span>
        </li>

        <li class="dropdown">
          <a md-button [mdMenuTriggerFor]="menu" class="dropdown-toggle"><md-icon>menu</md-icon>&nbsp;Menu</a>
          <md-menu #menu="mdMenu" yPosition="above" [overlapTrigger]="false">
            <button md-menu-item>
              <md-icon>file_upload</md-icon>
              <span>Import presentation</span>
            </button>

            <button md-menu-item>
              <md-icon>file_download</md-icon>
              <span>Download presentation</span>
            </button>

          </md-menu>
        </li>
      </ul>
    </div>
  </div>
</div>