<div class="navbar navbar-deep-purple">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand hidden-sm"><img src="../../assets/img/OdinVR.png" alt=""></span>
      <button md-button href="javascript:void(0)" class="nav hidden-sm">
        <span >OdinVR</span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">

      <p class="nav navbar-text navbar-username visible-lg">
        Hello, {{presentation.author}}
      </p>

      <p class="nav navbar-text navbar-username">
        <input type="text" class="text-center navbar-input" mdInput [(ngModel)]="presentation.name">
      </p>

      <ul class="nav navbar-nav navbar-center hidden">
        <li class="nav navbar-text navbar-input">
          <input type="text" class="text-center" mdInput [(ngModel)]="presentation.name">
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li>
          <button md-raised-button class="nav nav-md-raised-button"><span>Session code: {{presentation.sessionCode}}</span></button>
        </li>


        <li class="dropdown">
          <button md-button [mdMenuTriggerFor]="menu" class="nav"><md-icon>menu</md-icon>&nbsp;Menu</button>
          <md-menu #menu="mdMenu" yPosition="above" [overlapTrigger]="false">
            <button md-menu-item>
              <md-icon>file_upload</md-icon>
              <span>Import presentation</span>
            </button>

            <button md-menu-item>
              <md-icon>file_download</md-icon>
              <span>Download presentation</span>
            </button>

          </md-menu>
        </li>
      </ul>
    </div>
  </div>
</div>