<md-card>
  <md-card-content>
    <div class="properties-container">
      <div class="properties-content">
        <div class="container-fluid">
          <div class="row">

            <div class="button-row">
              <div class="flex-left">
                <button md-raised-button color="accent">Scene</button>
                &nbsp;&nbsp;&nbsp;
                <md-input-container>
                  <input [(ngModel)]='sceneName' mdInput class="scene-name">
                </md-input-container>
              </div>

              <div class="flex-right">
                <button md-raised-button color="primary"><md-icon>update</md-icon>&nbsp;Update</button>
                <button md-raised-button color="primary"><md-icon>visibility</md-icon>&nbsp;Preview</button>
                <button md-raised-button color="accent"><md-icon>file_upload</md-icon>&nbsp;Upload Model</button>
              </div>    
            </div>
            
            <!--
            <div class="button-row">
              <button md-raised-button color="accent">Scene</button>

              <md-input-container>
                <input [(ngModel)]='sceneName' mdInput class="scene-name">
              </md-input-container>

              <button md-raised-button color="primary"><md-icon>update</md-icon>&nbsp;Update</button>
              <button md-raised-button color="primary"><md-icon>visibility</md-icon>&nbsp;Preview</button>
              <button md-raised-button color="accent"><md-icon>file_upload</md-icon>&nbsp;Upload Model</button> 
            </div>  
            -->

            <hr>
          </div>

          <!-- Model properties -->
          <div class="row">
            <h2 class="text-center">Model Properties</h2>
            <table class="table table-striped table-hover ">

              <!-- Models dropdown menu -->
              <tr>
                <td>
                  <button md-raised-button [mdMenuTriggerFor]="menu">Models<md-icon>arrow_drop_down</md-icon></button>
                </td>
                <td class="list-item text-center"><span>Model name</span></td>
              </tr>

              <!-- X Position -->
              <tr>
                <td class="list-item"><span>X Position</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input [(ngModel)]='xposition' mdInput onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Y Position -->
              <tr>
                <td class="list-item"><span>Y Position</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input mdInput [(ngModel)]='yposition' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Z Position -->
              <tr>
                <td class="list-item"><span>Z Position</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input mdInput [(ngModel)]='zposition' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Model Scale -->
              <tr>
                <td class="list-item"><span>Scale</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input mdInput [(ngModel)]='scale' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- X Rotation -->
              <tr>
                <td class="list-item"><span>X Rotation</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input mdInput [(ngModel)]='xrotation' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Y Rotation -->
              <tr>
                <td class="list-item"><span>Y Rotation</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input mdInput [(ngModel)]='yrotation' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Z Rotation -->
              <tr>
                <td class="list-item"><span>Z Rotation</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input mdInput [(ngModel)]='zrotation' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Model spin toggle -->
              <tr>
                <td class="list-item"><span>Spin</span></td>
                <td class="text-right list-item">
                  <span><md-slide-toggle [(ngModel)]='spin'></md-slide-toggle></span>
                </td>
              </tr>

              <!-- Spin axis -->
              <tr>
                <td class="list-item"><span>Spin Axis</span></td>
                <td class="text-right list-item">
                  <span>
                    <md-select [(ngModel)]="spinAxis">
                      <md-option *ngFor="let option of spinAxisOptions" [value]="option.value">
                        {{ option.viewValue }}
                      </md-option>
                    </md-select>
                  </span>
                </td>
              </tr>

            </table>

          </div>

          <hr>
          <!-- Environment properties -->
          <div class="row">
            <h2 class="text-center">Environment Properties</h2>
            <table class="table table-striped table-hover">

              <!-- Skybox type -->
              <tr>
                <td class="list-item"><span>Skybox Type</span></td>
                <td class="text-right list-item">
                  <span>
                    <md-select [(ngModel)]="skyboxType">
                      <md-option *ngFor="let option of skyboxTypeOptions" [value]="option.value">
                        {{ option.viewValue }}
                      </md-option>
                    </md-select>
                  </span>
                </td>
              </tr>
              
              <!-- Skybox Size -->
              <tr>
                <td class="list-item"><span>Skybox Size</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input mdInput [(ngModel)]='skyboxSize' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Skybox Position -->
              <tr>
                <td class="list-item"><span>Skybox Position</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input mdInput [(ngModel)]='skyboxPosition' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Camera Height -->
              <tr>
                <td class="list-item"><span>Camera Height</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input mdInput [(ngModel)]='cameraHeight' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>

<md-menu #menu="mdMenu">
  <button md-menu-item>Item 1</button>
  <button md-menu-item>Item 2</button>
</md-menu>