<md-card>
  <md-card-content>
    <div class="properties-container">
      <div class="properties-content">
        <div *ngIf="scenes[sceneIndex]" class="container-fluid">
          <div class="row">
            <table class="table">
              <tr class="text-center button-row">
                <button md-raised-button color="primary"><md-icon>update</md-icon>&nbsp;Update</button>
                <button md-raised-button color="primary"><md-icon>visibility</md-icon>&nbsp;Preview</button>
                <button md-raised-button color="accent"><md-icon>file_upload</md-icon>&nbsp;Upload Model</button>
                &nbsp;
              </tr>
              
              <tr class="text-center">
                <a md-button color="accent" [mdMenuTriggerFor]="sceneMenu" class="dropdown-toggle">Scenes<md-icon>arrow_drop_down</md-icon></a>
                <md-input-container color="accent">
                  <input (keyup)="updateSceneValues()"  [(ngModel)]='scenes[sceneIndex].name' mdInput class="scene-name">
                </md-input-container>
                <button md-icon-button color="accent" mdTooltip="Delete scene" (click)="openDeleteSceneDialog()"><md-icon>delete</md-icon></button>
                <a md-icon-button color="accent" mdTooltip="Download scene" (click)="setSceneDownload()" [href]="downloadJsonHref" download="{{scenes[sceneIndex].name}}.ovs"><md-icon>file_download</md-icon></a>
                <button md-icon-button color="accent" mdTooltip="New scene" (click)="addNewScene()"><md-icon>library_add</md-icon></button>
              </tr>

            </table>   
            <hr>
          </div>

          <!-- Model properties -->
          <div class="row" *ngIf="models[0]; else noModelsError">
            <h2 class="text-center">Model Properties</h2>
            <table class="table table-striped table-hover ">

              <!-- Models dropdown menu -->
              <tr>
                <td>
                  <button md-raised-button [mdMenuTriggerFor]="modelsMenu">Models<md-icon>arrow_drop_down</md-icon></button>
                </td>
                <td class="text-right">
                  <button md-icon-button color="primary" mdTooltip="Delete model" (click)="openDeleteModelDialog()"><md-icon>delete</md-icon></button>
                  <md-input-container>
                    <input (keyup)="updateSceneValues()" [(ngModel)]='currentModel.name' mdInput>
                  </md-input-container>
                </td>
              </tr>

              <!-- X Position -->
              <tr>
                <td class="list-item"><span>X Position</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input (keyup)="updateSceneValues()" [(ngModel)]='currentModel.xposition' mdInput onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Y Position -->
              <tr>
                <td class="list-item"><span>Y Position</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input (keyup)="updateSceneValues()" mdInput [(ngModel)]='currentModel.yposition' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Z Position -->
              <tr>
                <td class="list-item"><span>Z Position</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input (keyup)="updateSceneValues()"  mdInput [(ngModel)]='currentModel.zposition' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Model Scale -->
              <tr>
                <td class="list-item"><span>Scale</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input (keyup)="updateSceneValues()"  mdInput [(ngModel)]='currentModel.scale' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- X Rotation -->
              <tr>
                <td class="list-item"><span>X Rotation</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input (keyup)="updateSceneValues()"  mdInput [(ngModel)]='currentModel.xrotation' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Y Rotation -->
              <tr>
                <td class="list-item"><span>Y Rotation</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input (keyup)="updateSceneValues()"  mdInput [(ngModel)]='currentModel.yrotation' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Z Rotation -->
              <tr>
                <td class="list-item"><span>Z Rotation</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input (keyup)="updateSceneValues()"  mdInput [(ngModel)]='currentModel.zrotation' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Model spin toggle -->
              <tr>
                <td class="list-item"><span>Spin</span></td>
                <td class="text-right list-item">
                  <span><md-slide-toggle [(ngModel)]='currentModel.spin' (ngModelChange)="updateSceneValues()" color="primary"></md-slide-toggle></span>
                </td>
              </tr>

              <!-- Spin axis -->
              <tr>
                <td class="list-item"><span>Spin Axis</span></td>
                <td class="text-right list-item">
                  <span>
                    <md-select [(ngModel)]="currentModel.spin_axis" (ngModelChange)="updateSceneValues()">
                      <md-option *ngFor="let option of spinAxisOptions" [value]="option.value">
                        {{ option.viewValue }}
                      </md-option>
                    </md-select>
                  </span>
                </td>
              </tr>

            </table>

          </div>

          <hr>
          <!-- Environment properties -->
          <div class="row">
            <h2 class="text-center">Environment Properties</h2>
            <table class="table table-striped table-hover">

              <!-- Skybox type -->
              <tr>
                <td class="list-item"><span>Skysphere Type</span></td>
                <td class="text-right list-item">
                  <span>
                    <md-select [(ngModel)]="currentEnvironment.skybox_type" (ngModelChange)="updateSceneValues()">
                      <md-option *ngFor="let option of skyboxTypeOptions" [value]="option.value">
                        {{ option.viewValue }}
                      </md-option>
                    </md-select>
                  </span>
                </td>
              </tr>
              
              <!-- Skybox Size -->
              <tr>
                <td class="list-item"><span>Skysphere Size</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input (keyup)="updateSceneValues()" mdInput [(ngModel)]='currentEnvironment.skybox_size' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Skybox Position -->
              <tr>
                <td class="list-item"><span>Skysphere Position</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input (keyup)="updateSceneValues()"  mdInput [(ngModel)]='currentEnvironment.skybox_position' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>

              <!-- Camera Height -->
              <tr>
                <td class="list-item"><span>Camera Height</span></td>
                <td class="text-right">
                  <md-input-container>
                    <input (keyup)="updateSceneValues()"  mdInput [(ngModel)]='currentEnvironment.camera_height' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                  </md-input-container>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>

<md-menu #modelsMenu="mdMenu">
  <button md-menu-item *ngFor="let model of models; let i = index" (click)="selectModel(i)">
    {{model.name}}
  </button>
</md-menu>

<md-menu #sceneMenu="mdMenu" yPosition="below" [overlapTrigger]="false">
  <span md-menu-item *ngFor="let scene of scenes; let i = index" (click)="selectScene(i)">
    {{scene.name}}
  </span>
</md-menu>

<ng-template #noModelsError>
  <div class="alert alert-warning text-center">
    <h3>Oh no! There don't seem to be any models in this scene, please <strong>upload a model.</strong></h3>
  </div>
</ng-template>