.properties-container {
    width: 100%;
    display: inline-block;
    position: relative;
}

.properties-container:after {
    padding-top: 80.5%;
    display: block;
    content: '';
}

.properties-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
}

.list-item span {
    line-height: 35px;
}

.button-row button {
    margin: 0 5px 10px 5px;
}

.scene-name {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
}